* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('PHOTO-2025-05-14-18-37-02.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #144734;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer; /* affiche le pointeur de lien */
}

.overlay {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  border-radius: 12px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
}
